@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Nguyễn Đức Phước
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    00000000000
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:nguyenducphuoc@gmail.com">nguyenducphuoc@gmail.com</a><br />
</address>